
.home {
    margin-top: 25vh;

    h2 {
        color: #fff;
        font-size: 2em;
        padding: 30px 120px;
        margin: 30px 0;
        background-color: #f34;
        border-radius: 100px;
    }
}